@model BlogPostViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center mb-2">@Model.BlogPost.Title</h2>
            <div class="card">
                <div class="card-body">
                    <p class="card-text">@Model.BlogPost.Text</p>
                    <div class="d-flex justify-content-between">
                        <small class="text-muted">Date: @Model.BlogPost.Date</small>
                        <small class="text-muted">@Model.BlogPost.Category.Name</small>
                    </div>
                    <div class="d-flex justify-content-between">
                        <small class="text-muted">Author: @Model.BlogPost.Author.NickName</small>
                    </div>
                    @if (Model.BlogPost.Tags.Count() > 0)
                    {
                        <p class="card-text">
                            <strong>Tags:</strong>
                            @foreach (var tag in Model.BlogPost.Tags)
                            {
                                <a asp-action="Index" asp-route-tagName="@tag.Name">@tag.Name</a>
                            }
                        </p>
                    }
                </div>
            </div>

            <div class="d-flex justify-content-center mt-3">
                @if (Model.IsAuthor)
                {
                    <a asp-action="Edit" 
                        asp-route-id="@Model?.BlogPost.Id" class="btn btn-sm btn-primary w-25 mx-2">Edit</a>
                    <a asp-action="Delete" 
                        asp-route-id="@Model?.BlogPost.Id" class="btn btn-sm btn-danger w-25 mx-2">Delete</a>
                }
            </div>

            <h2 class="text-center mt-2">Comment section</h2>
            @foreach (var comment in Model.BlogPost.CommentList)
            {
                <div class="card mt-4">
                    <div class="card-body">
                        <p class="card-text">@comment.User.Name @comment.User.Surname: @comment.Text</p>
                    </div>
                </div>
            }

            <form asp-controller="Comments" asp-action="Create" method="post" class="mt-4">
                <div class="form-group mb-3">
                    <label asp-for="NewComment.Text"></label>
                    <textarea class="form-control" asp-for="NewComment.Text"></textarea>
                    <input type="hidden" asp-for="NewComment.BlogPostId" value="@Model.BlogPost.Id" />
                </div>
                <button type="submit" class="btn btn-primary d-block mx-auto">Submit Comment</button>
            </form>

        </div>
    </div>
</div>


